.navigation{
  margin: 0.625rem;
  padding: 1rem;
  border-radius: 8px;
  background-color: var(--color-bg);
  color: var(--color-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation_search{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0.5rem;
}
.navigation_arrow{
  display: flex;
  gap: 1.25rem;
}
.arrow_left, .arrow_right{
  background-color: var(--color-bg-icon);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: none;
  padding: auto;
  cursor: pointer; 
}
.navigation_input{
  background-image: url("../assets/icons/search.png");
  background-repeat: no-repeat;
  background-size: 1rem;
  background-position: 1rem center;
  padding-left: 3rem ;
  display: flex;
  align-items: center;
  width: 22.75rem;
  height: 3rem;
  background-color: var(--color-bg2);
  border-radius: 31.25px;
  border: none;
  overflow: hidden;
  white-space: nowrap;
  color: var(--color-white);
}

.navigation_login{
  display: flex;
  align-items: center;
  gap: 2rem;
}
.subscribe{
  color: var(--text-sub);
  font-size: 1rem;
  font-weight: 700;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.login{
  width: 6.25rem;
  height: 3rem;
  color: var(--color-black);
  font-size: 1rem;
  font-weight: 700;
  border-radius: 2.5rem;
}

