@import "./cabecalho.css";
@import "./main.css";


@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
  --body-background: #00090E;
  --background-color: #211727;
  --background-card: #E7E5E5;
  --cor-texto-claro: #E1E1E1;
  --cor-texto-destaque: #132E35;
  --cor-texto-escuro: #888888;
  --cor-destaque: #FD7BF0;
  --font: "Prompt", serif;
}

body{
  background-color: var(--body-background);
  font-family: var(--font);
  font-size: 1rem;
  display: flex;
  gap: 1.687rem;
  margin: auto;
  
}

@media (max-width: 767px) {
  body{
    flex-direction: column;
  }
}
